
div {
border: "solid black";
position: "absolute";
backgroundColor:  _color;
color: "white";
width: 150px;
height: 250px;
left: (Eingabe + 1) * 160px; 
bottom: 130px;
textAlign: center;
borderRadius: 20px;	
}

.Ablage {
	border: thin solid black;
	text-align: center;
	position: absolute;
	margin-top: 50px;
	background-color: white;
	color: black;
	width: 90px;
	height: 140px;
	margin-top: -10px;
	top: 100px;
	left: 50px;
	border-radius: 5px;
	padding: 50px;
}


.Aufnahme {

        border: thin solid black;
        text-align: center;
        position: absolute;
        background-color: black;
        width: 90px;
        height: 140px;
        right: 50px;
        top: 100px;
        border-radius: 5px;
        color: white;
        padding: 50px;

}